python version =3.9.0 or 3.8.0
pip install nltk
pip install pdfminer.six
pip install PyPDF2
pip install datefinder
pip install dateparser
pip install pdfplumber
pip install spacy - (python -m spacy download en_core_web_sm)
                  - (python -m spacy download en_core_web_trf)
pip install nameparser
pip install addressparser
pip install python-dateutil
pip install pyap
pip install flask
pip install usaddress
pip install torch(pip3 install torch torchvision torchaudio) -depends on system requirement-(https://pytorch.org/)
pip install transformers
pip install simpletransformers
pip install -U sentence-transformers
pip install flair

python version =3.8.0
pip install opencv-python
pip install flask
pip install pytorch(pip3 install torch torchvision torchaudio) -depends on system requirement-(https://pytorch.org/)
pip install PyMuPDF
pip install Pillow==9.5.0
pip install git+https://github.com/JaidedAI/EasyOCR.git
pip install easyocr
pip install pdf2image
pip install pytesseract
python -m pip install paddlepaddle -i https://pypi.tuna.tsinghua.edu.cn/simple
pip install paddleocr==2.0.1 (install after -pip install --upgrade paddleocr)
pip3 install -U pypdfium2


