1.python version =3.8

2.pip install opencv-python

3.pip install flask

4.pip install pytorch(pip3 install torch torchvision torchaudio) -depends on system requirement-(https://pytorch.org/)

5.pip install PyMuPDF

6.pip install Pillow==9.5.0

7.pip install git+https://github.com/JaidedAI/EasyOCR.git

8.pip install easyocr

9.pip install pdf2image

10.pip install pytesseract

10.python -m pip install paddlepaddle -i https://pypi.tuna.tsinghua.edu.cn/simple

11.pip install paddleocr==2.0.1 (install after -pip install --upgrade paddleocr)

12.pip3 install -U pypdfium2



