<!DOCTYPE html>
<html>
<head>
    <title>Image Display</title>
</head>
<body>
    <h1 style="background-color: yellow; font-size: 35px; text-align: center;">Display the bounding boxes on Image</h1>
    <form action="/pre" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*"/><br><br>
        <input type="submit" value="Submit"><br><br>
    </form>
    <h1>Image Output</h1>
    <img src="data:image/png;base64,{{ image_data_uri }}" alt="Processed Image">
</body>
</html>
